<!-- About Section -->
<section class="About" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light"> <!-- this is the --*-- divider thing TODO: Will replace -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>My name's Christopher Jang, but you can call me Chris. I study Computer Science at the University of Illinois at Urbana-Champaign. I am currently interested in working with a company/startup to simply have the experience of working in the field solving real problems.
                </p>

            </div>
            <div class="col-lg-4">
                <p>My hobbies include listening to music, programming (duh), creating things - I'm a HUGE Lego nerd, meeting new people, and volunteering. If you want to contact me directly, feel free to use any of the below methods!</p>
            </div>
    <!-- Contact buttons -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" onclick="return false" class="btn btn-lg btn-outline">
                    <i class="fa fa-skype fa-lg"></i> chris.jang423
                </a>
                <a href="#" onclick="return false" class="btn btn-lg btn-outline">
                    <i class="fa fa-envelope fa-lg"></i> chris.jang423@gmail.com
                </a>
            </div> 
        </div>
    </div>
</section>
